*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* max-width: 1600px; */
    align-items: center;
    padding: 16px 120px;
    background-color: #FFFFFF;
    
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style-type:none ;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    width: 164px;
    height: 44px;
    /* margin-top: 24px; */
}
#banner{
    /* display:flex; */
    border: solid rgba(255, 255, 255, 0);
     background-image: url("images/hero-bg.png"); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
   margin: 0 auto;
    /* background-size: 100%; */
    width: 100%;
    height: 90vh;
    text-align: center;
    /* max-width: 1600px; */ 
    /* background-image: url("../assignment-01/images/hero-bg.png"); */
    
    text-align: center;
    /* padding-top: 50px; */

}
#banner .frame{
    /* border: 1px solid red; */
    margin: 120px 120px 179px 140px;
    /* width: 88%; */
    max-width: 1460px;
    /* background-image: url("images/hero-bg.png");
    background-size: cover;
    max-width: 1600px; */
    
    /* background-image: url("../assignment-01/images/hero-bg.png"); */

}
#banner .frame .early-btn{
    /* border: none; */
    border-color: #FFFFFF;
    border-radius:10px ;
    font-size: 16px;
    font-weight: 500;
    width: 213px;
    height: 25px;
    color: #30B868;
    margin: 0 auto;
}
#banner .frame h1{
    color: #FFFFFF;
    font-size: 78px;
    font-weight: 700;
    line-height: 74px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.color{
    color:#30B868;
}
#banner .frame p{
    font-size:16px ;
    /* font-weight: ; */
    margin-bottom:32px ;
    line-height:24px ;
    color: #ffffff71;
}
#banner .frame .btn{
    width: 231px;
    padding: 12px 16px;
    border-radius: 4px;
    margin-right: 16px;
}
#banner .frame .sub-btn{
    width: 198px;
    padding: 12px 16px;
    border-radius: 4px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;

}
#notes{
    padding-top: 58px;
}
#notes .notes-container{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}
#notes .section-header h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
#notes .section-header p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
#notes .about-info{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.about-info .card-info{
   max-width: 322px;
   max-height: 300px;
   border-color: 0px solid #ffffff;
   border-radius: 8px;
   box-shadow: 0 0 8px 0 #e9e6e6;
   text-align: center;
}
.card-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    /* margin: 0 auto; */
    margin-top: 70px;
    margin-bottom: 16px;
    object-fit: contain;
    padding: 15px;
    
}

.card-info h4{
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding: 0 24px 70px 24px;
}

#solution{
    padding: 120px;
    /* width: 1360px; */
}
#solution .solution-container{
    width: 1360px;
    /* height: 600px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    gap: 63px;
}
.solution-container .title{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
    
}
.solution-container .details .h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.details .paragraph{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
    color: #627382;
}
 .points{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* margin: 0 auto; */
   /* margin-bottom: 16px; */
    
}
.list-item{
    display: flex;
    margin-bottom: 16px;
    column-gap: 5px;
}

#main{
    padding: 120px 0 120px 0;
}
#main .main-container{
    background-color: #F7F6F2;
    width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
}
#main .main-container h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
#main .main-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
#main .main-container .btn {
    width: 194px;
    /* height: 54px; */
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px 12px 16px;
    gap: 15px;
    margin-bottom: 16px;
    /* color: #FFFFFF; */
    display: flex;
    /* justify-content: center;
    align-items:flex-start; 
    text-align: center; 
    flex-direction: column; */
}

